In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('mining_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245700 entries, 0 to 245699
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   % Iron Feed                   245700 non-null  float64
 1   % Silica Feed                 245700 non-null  float64
 2   Starch Flow                   245700 non-null  float64
 3   Amina Flow                    245700 non-null  float64
 4   Ore Pulp Flow                 245700 non-null  float64
 5   Ore Pulp pH                   245700 non-null  float64
 6   Ore Pulp Density              245700 non-null  float64
 7   Flotation Column 01 Air Flow  245700 non-null  float64
 8   Flotation Column 02 Air Flow  245700 non-null  float64
 9   Flotation Column 03 Air Flow  245700 non-null  float64
 10  Flotation Column 04 Air Flow  245700 non-null  float64
 11  Flotation Column 05 Air Flow  245700 non-null  float64
 12  Flotation Column 06 Air Flow  245700 non-null  float64
 13  Flotation Column 07 Air Flow  245700 non-null  float64
 14  Flotation Column 01 Level     245700 non-null  float64
 15  Flotation Column 02 Level     245700 non-null  float64
 16  Flotation Column 03 Level     245700 non-null  float64
 17  Flotation Column 04 Level     245700 non-null  float64
 18  Flotation Column 05 Level     245700 non-null  float64
 19  Flotation Column 06 Level     245700 non-null  float64
 20  Flotation Column 07 Level     245700 non-null  float64
 21  % Iron Concentrate            245700 non-null  float64
 22  % Silica Concentrate          245700 non-null  float64
dtypes: float64(23)
memory usage: 43.1 MB